{% extends 'bases/form.html' %}

{% set title='Edit organisation' %}
{% set form_action = url_for('orgs.edit', org_id=org_id) %}

{% block fields %}
  {{ form_row('name') }}
  {{ form_row('country') }}
  <div class="form-row">
    <label for="ror_id"><a href="https://ror.org">ROR</a> ID</label>
    {{ form.ror_id(class_='form-input form-single-line') }}
  </div>
  {{ form_row('accepted_access_types') }}
  {{ form_row('funding_level') }}
  {{ form_row('funding_limit', default=0, help='potential extra funding for applicants in need, e.g. travel and/or sample transport costs') }}
{% endblock %}

{% block addtl_footer %}
  <a href="{{ url_for('orgs.view', org_id=org_id) }}">
    <i class="fa-solid fa-times mr-2"></i>
    <span>Cancel</span>
  </a>
{% endblock %}
