{% extends 'bases/form.html' %}

{% set title='New organisation' %}
{% set submit_text = 'Create' %}

{% block fields %}
  {{ form_row('name') }}
  {{ form_row('country') }}
  <div class="form-row">
    <label for="ror_id"><a href="https://ror.org">ROR</a> ID</label>
    {{ form.ror_id(class_='form-input form-single-line') }}
  </div>
 {{ form_row('accepted_access_types') }}
  {{ form_row('funding_level') }}
  {{ form_row('funding_limit', default=0, help='potential extra funding for applicants in need, e.g. travel and/or sample transport costs') }}
{% endblock %}
