@import url("https://fonts.googleapis.com/css2?family=Rubik&family=Roboto:wght@400;700");
.form {
  display: grid;
  max-width: 640px;
  grid-gap: 1em;
  grid-template-columns: [labels] auto [inputs] 1fr;
  align-items: center;
}
.form .form-row {
  display: contents;
}
.form .form-row label {
  grid-column: labels;
  justify-self: end;
}
.form .form-row input, .form .form-row select {
  grid-column: inputs;
}
.form .form-row .form-input {
  height: 2em;
  border-radius: 5px;
  border: 1px solid var(--c1-dark);
  padding: 5px;
}
.form .form-footer {
  grid-column: 1/span 2;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
.form .form-footer input[type=submit] {
  padding: 0.5em 1em;
  border-radius: 5px;
  background-color: var(--c1-dark);
  color: var(--c1-lightest);
  justify-self: end;
  grid-column: 2;
}
.form .form-errors {
  grid-column: inputs;
}