@import url("https://fonts.googleapis.com/css2?family=Rubik&family=Roboto:wght@400;700");
.form {
  display: grid;
  max-width: 640px;
  grid-gap: 1em;
  grid-template-columns: [labels] auto [inputs] 1fr [help] 1em;
  align-items: center;
}
.form .form-row {
  display: contents;
}
.form .form-row label {
  grid-column: labels;
  justify-self: end;
}
.form .form-row input, .form .form-row select {
  grid-column: inputs;
}
.form .form-row .form-input {
  border-radius: 0.375rem;
  border: 2px solid var(--c1-dark);
  padding: 5px;
}
.form .form-row .form-input[type=checkbox] {
  justify-self: start;
}
.form .form-row .form-single-line {
  height: 2.5em;
}
.form .form-row .help-text {
  position: absolute;
  max-width: 25em;
}
.form .form-footer {
  grid-column: 1/span 2;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
.form .form-errors {
  grid-column: inputs;
  margin-bottom: -10px;
}
.form select option[selected] {
  font-weight: bold;
  background-color: var(--c1-light);
}

input[type=submit] {
  padding: 0.5em 1em;
  border-radius: 0.375rem;
  background-color: var(--c1-dark);
  color: var(--c1-lightest);
  justify-self: end;
  grid-column: 2;
}