{% extends 'base.html' %}

{% set local_sheets=['table.css'] %}

{% block content %}
  <h2>Managed facilities</h2>

  <div class="grid grid-cols-2">
    {% for facility in current_user.managed_facilities %}
      <div class="org-card m-4 p-4 border-secondary-darkest border-2">
        <div class="flex items-center">
          <h3 class="text-primary-dark flex-grow">{{ facility.name }}</h3>
          <a href="{{ url_for('facs.edit', facility_id=facility.id) }}">
            <i class="fa-solid fa-pencil mr-2"></i>
            <span>Edit</span>
          </a>
        </div>
        {% if facility.via(current_user) %}<small>via {{ facility.via(current_user) }}</small>{% endif %}
        <div class="detail-container mb-8">
          <div class="detail-row">
            <span class="detail-row-header">Org</span>
            <span>{{ facility.org.name }}</span>
          </div>
          <div class="detail-row">
            <span class="detail-row-header">Notes</span>
            <span>{{ facility.notes }}</span>
          </div>
          <div class="detail-row">
            <span class="detail-row-header">Analyses available</span>
            <div class="grid">
              {% for analysis in facility.analyses %}
                <span>{{ analysis }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>



{% endblock %}
