{% extends 'bases/form.html' %}

{% set title='New facility' %}
{% set submit_text = 'Create' %}

{% block fields %}
  {{ form_row('name') }}
  {{ form_row('analyses', class_='form-input', size=5) }}
  {{ form_row('other_analyses', class_='form-input', help='other analyses available that are not currently listed above.') }}
  {{ form_row('access_slots', min=1) }}
  {{ form_row('notes', class_='form-input') }}

  <div class="form-row">
    {{ form.org_id.label }}
    {% if form.org_id.predefined %}
      <input type="hidden" name="{{ form.org_id.name }}" id="{{ form.org_id.id }}" value="{{ form.org_id.object_data }}">
      <b>{{ form.org_id.text }}</b>
    {% else %}
      {{ form.org_id(class_='form-input form-single-line') }}
    {% endif %}
  </div>
{% endblock %}
