{% extends 'base.html' %}

{% set local_sheets=['form.css'] %}

{% block content %}
  <form method="post" action="{{ url_for('auth.register') }}" class="form mx-auto">
    {{ form.csrf_token }}
    {% if errors %}
      <div class="form-errors">
        {% for error in errors %}
          <span class="font-bold text-red-700">{{ error }}</span>
        {% endfor %}
      </div>
    {% endif %}

    <div class="form-row">
      {{ form.email.label }}
      {{ form.email(class_='form-input form-single-line') }}
    </div>

    <div class="form-row">
      {{ form.password.label }}
      {{ form.password(class_='form-input form-single-line') }}
    </div>

    <div class="form-row">
      {{ form.name.label }}
      {{ form.name(class_='form-input form-single-line') }}
    </div>

    <div class="form-row">
      {{ form.country.label }}
      {{ form.country(class_='form-input form-single-line') }}
    </div>

    <div class="form-footer">
      <input type="submit" value="Register" class="p-2">
    </div>
  </form>
  <div class="text-center mt-8">Already have an account? <a href="{{ url_for('auth.login') }}">Login here</a>.</div>
{% endblock %}
