{% extends 'base.html' %}

{% set local_sheets=['table.css', 'form.css'] %}

{% block content %}
  <div class="flex items-center">
    <h2 class="text-primary-dark flex-grow">
      {% if application.is_submitted %}
        Application {{ application.date_submitted }}
      {% else %}
        Draft application
      {% endif %}
    </h2>
    {% if not application.offer %}
      <a href="{{ url_for('apps.edit', app_id=application.id) }}">
        <i class="fa-solid fa-pencil mr-2"></i>
        <span>Edit</span>
      </a>
    {% endif %}
  </div>
  <h3>Request</h3>
  <div class="detail-container mb-8">
    <div class="detail-row">
      <span class="detail-row-header">Analyses</span>
      <div class="grid">
        {% for analysis in application.analyses %}
          <span>{{ analysis.name or '' }}</span>
        {% endfor %}
        {% if application.other_analyses %}
          <span>Other: {{ application.other_analyses }}</span>
        {% endif %}
      </div>
    </div>
    <div class="detail-row">
      <span class="detail-row-header">Search dates</span>
      <span>{{ application.date_from }} to {{ application.date_to }}</span>
    </div>
    <div class="detail-row">
      <span class="detail-row-header">Days required</span>
      <span>{{ application.days_estimate }}</span>
    </div>
    <div class="detail-row">
      <span class="detail-row-header">Samples to be processed</span>
      <span>{{ application.samples_estimate }}</span>
    </div>
    <div class="detail-row">
      <span class="detail-row-header">Facility access type</span>
      <span>{{ application.access_type }}</span>
    </div>
    <div class="detail-row">
      <span class="detail-row-header">About your request</span>
      <span>{{ application.about_request }}</span>
    </div>
  </div>

  <h3>You</h3>
  <div class="detail-container mb-8">
    <div class="detail-row">
      <span class="detail-row-header">Starting location</span>
      <span>{{ application.desired_location|country_name }}</span>
    </div>
    <div class="detail-row">
      <span class="detail-row-header">Current institution</span>
      <span>{{ application.current_org }}</span>
    </div>
    <div class="detail-row">
      <span class="detail-row-header">Current funding level</span>
      <span>{{ application.funding_level }}</span>
    </div>
    <div class="detail-row">
      <span class="detail-row-header">Restrictions</span>
      <span>{{ application.restrictions }}</span>
    </div>
    <div class="detail-row">
      <span class="detail-row-header">Additional requirements</span>
      <span>{{ application.additional_requirements }}</span>
    </div>
    <div class="detail-row">
      <span class="detail-row-header">About you</span>
      <span>{{ application.about_you }}</span>
    </div>
  </div>

  <input type="hidden" id="application_id" value="{{ application.id }}">
  <input type="hidden" id="csrf_token" value="{{ csrf_token() }}" />

  <h3>{{ 'Offer' if application.offer else 'Matches' }}</h3>
  <div id="matches" class="grid md:grid-flow-col">
    {% if application.offer %}
      <div class="match-box max-w-md">
        <p class="text-xl">
          <a href="{{ url_for('facs.view', facility_id=application.offer.slot.facility.id) }}">{{ application.offer.slot.facility.name }}</a>
          <span> at </span>
          <a href="{{ url_for('orgs.view', org_id=application.offer.slot.facility.org.id) }}">{{ application.offer.slot.facility.org.name }}</a>
        </p>
        <div class="detail-container mb-8">
          <div class="detail-row">
            <span class="detail-row-header">Dates</span>
            <span>{{ application.offer.date_from }} to {{ application.offer.date_to }}</span>
          </div>
          <div class="detail-row">
            <span class="detail-row-header">Travel funded</span>
            <span>{{ 'Yes' if application.offer.funded else 'No' }}</span>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}


{% block scripts %}
  {% if not application.offer %}
    <script type="module" src="{{ url_for('static', filename='src/index.js') }}"></script>
  {% endif %}
{% endblock %}
