{% extends 'base.html' %}

{% set local_sheets=['table.css', 'form.css'] %}

{% block content %}
  <div class="flex items-center">
    <h2 class="text-primary-dark flex-grow">
      {% if application.is_submitted %}
        Application {{ application.date_submitted }}
      {% else %}
        Draft application
      {% endif %}
    </h2>
    <a href="{{ url_for('apps.edit', app_id=application.id) }}">
      <i class="fa-solid fa-pencil mr-2"></i>
      <span>Edit</span>
    </a>
  </div>
  <div class="detail-container mb-8">
    <div class="detail-row">
      <span class="detail-row-header">Desired location</span>
      <span>{{ application.desired_location|country_name }}</span>
    </div>
    <div class="detail-row">
      <span class="detail-row-header">Dates</span>
      <span>{{ application.date_from }} to {{ application.date_to }}</span>
    </div>
    <div class="detail-row">
      <span class="detail-row-header">About your request</span>
      <span>{{ application.about_request }}</span>
    </div>
    <div class="detail-row">
      <span class="detail-row-header">Restrictions</span>
      <span>{{ application.restrictions }}</span>
    </div>
    <div class="detail-row">
      <span class="detail-row-header">Additional requirements</span>
      <span>{{ application.additional_requirements }}</span>
    </div>
  </div>

  <h3>Requested analyses</h3>
  <div class="detail-container mb-8">
    {% for analysis in application.analyses %}
      <div class="detail-row">
        <span class="detail-row-header">{{ analysis.name }}</span>
        <div class="grid">
          <em>{{ analysis.parent or '' }}</em>
          <span>{{ analysis.description or '' }}</span>
        </div>
      </div>
    {% endfor %}
  </div>

  <input type="hidden" id="application_id" value="{{ application.id }}">
  <input type="hidden" id="csrf_token" value="{{ csrf_token() }}"/>

  <h3>Matches</h3>
  <div id="matches" class="grid grid-flow-col">
    {% if application.offer %}
      <div class="match-box max-w-md">
        <p class="text-xl">
          <a href="{{ url_for('facs.view', facility_id=application.offer.slot.facility.id) }}">{{ application.offer.slot.facility.name }}</a>
          <span> at </span>
          <a href="{{ url_for('orgs.view', org_id=application.offer.slot.facility.org.id) }}">{{ application.offer.slot.facility.org.name }}</a>
        </p>
        <div class="detail-container mb-8">
          <div class="detail-row">
            <span class="detail-row-header">Dates</span>
            <span>{{ application.offer.date_from }} to {{ application.offer.date_to }}</span>
          </div>
          <div class="detail-row">
            <span class="detail-row-header">Travel funded</span>
            <span>{{ 'Yes' if application.offer.slot.facility.org.will_fund_travel else 'No' }}</span>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}


{% block scripts %}
  {% if not application.offer %}
    <script type="module" src="{{ url_for('static', filename='src/index.js') }}"></script>
  {% endif %}
{% endblock %}
