// BREAKPOINTS ===========================================================================
// standard breakpoints from tailwind
// (https://tailwindcss.com/docs/breakpoints), just for use in SCSS
$break-sm: 640px;
$break-md: 768px;
$break-lg: 1024px;
$break-xl: 1280px;
$break-2xl: 1536px;
