@import './vars';


.form {
  display: grid;
  max-width: $break-sm;
  grid-gap: 1em;
  grid-template-columns: [labels] minmax(auto, 10em) [inputs] 1fr;
  align-items: center;

  & .form-row {
    display: contents;

    & label {
      grid-column: labels;
      justify-self: end;
      text-align: right;
    }

    & input, & select {
      grid-column: inputs;
    }

    & .form-input {
      border-radius: 0.375rem;
      border: 2px solid $primary-dark;
      padding: 5px;

      &[type='checkbox'] {
        justify-self: start;
      }
    }

    & .form-single-line {
      height: 2.5em;
    }

    & .help {
      font-size: 0.9em;
      grid-column: span 2;
      text-align: right;
      margin-top: -1em;
    }
  }

  & .form-footer {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }

  & .form-errors {
    grid-column: inputs;
    margin-bottom: -10px;
  }

  & select option[selected] {
    font-weight: bold;
    background-color: $primary-light;
  }
}

input[type='submit'] {
  padding: 0.5em 1em;
  border-radius: 0.375rem;
  background-color: $primary-dark;
  color: $primary-lightest;
  justify-self: end;
  grid-column: 2;
}

@media (min-width: $break-md) {
  .form {
    grid-template-columns: [labels] minmax(auto, 10em) [inputs] 1fr [help] 1em;
    grid-gap: 2em 1em;

    & .form-row {
      & .help {
        align-self: start;
        grid-column: help;
        margin-top: 0;
      }

      & .help-text {
        position: absolute;
        max-width: 25em;
      }
    }

  }
}
