{% extends 'base.html' %}

{% set local_sheets=['form.css'] %}

{% macro form_row(item, class_='form-input form-single-line') -%}
  <div class="form-row">
    {% if form[item].errors %}
      <div class="form-errors">
        {% for error in form[item].errors %}
          <span class="font-bold text-red-700 text-xs">{{ error }}</span>
        {% endfor %}
      </div>
    {% endif %}
    {{ form[item].label }}
    {{ form[item](class_=class_, **kwargs) }}

  </div>
{% endmacro -%}

{% block content %}
  <form method="post" action="{{ form_action or url_for(request.endpoint) }}" class="form mx-auto">
    {{ form.csrf_token }}
    {% if errors %}
      <div class="form-errors">
        {% for error in errors %}
          <span class="font-bold text-red-700">{{ error }}</span>
        {% endfor %}
      </div>
    {% endif %}

    {% block fields %}
    {% endblock %}

    <div class="form-footer">
      <input type="submit" value="{{ submit_text or 'Submit' }}" class="p-2">
    </div>

  </form>
{% endblock %}
